@page "/felines/{FelineId:int}/print"
@using Features.Comments
@using Features.Thumbnails
@using Features.Weights
@layout Shared.Layout.PrintLayout
@attribute [ExcludeFromInteractiveRouting]
@inject Data.FosterRosterDbContext DbContext
@inject NavigationManager NavigationManager
@inject TimeProvider TimeProvider
@rendermode InteractiveServer

@if (_feline is not null)
{
    <RadzenStack AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween"
                 Orientation="Orientation.Horizontal">
        <h1>@_feline.Name</h1>
        <h3>@_localNow.FormatLocalTime(TimeProvider)</h3>
    </RadzenStack>

    @if (ShowVitals.GetValueOrDefault(true))
    {
        <RadzenStack AlignItems="AlignItems.Center"
                     Gap="1rem"
                     JustifyContent="JustifyContent.SpaceBetween"
                     Orientation="Orientation.Horizontal">
            <table class="vitals">
                <caption>Vitals</caption>
                <tbody>
                <tr>
                    <th>Animal ID</th>
                    <td>@_feline.AnimalId</td>
                </tr>
                <tr>
                    <th>Intake Date</th>
                    <td>@_feline.IntakeDate</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@_feline.Gender</td>
                </tr>
                <tr>
                    <th>Age At Intake</th>
                    <td>@_feline.IntakeAgeInWeeks</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>@_feline.FormatAge(_localNow)</td>
                </tr>
                <tr>
                    <th>Breed</th>
                    <td>@_feline.Breed</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>@_feline.Color</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>@_source</td>
                </tr>
                <tr>
                    <th>Fosterer</th>
                    <td>@_fosterer</td>
                </tr>
                <tr>
                    <th>Weaned</th>
                    <td>@_feline.Weaned.ToDisplay()</td>
                </tr>
                <tr>
                    <th>Spay / Neuter Date</th>
                    <td>@_feline.SterilizationDate</td>
                </tr>
                </tbody>
            </table>
            @if (ShowImage.GetValueOrDefault(true) && _thumbnail is not null)
            {
                <img src="@_thumbnail.GetUrl()" alt="@_feline.Name"/>
            }
        </RadzenStack>
    }
    else if (ShowImage.GetValueOrDefault(true) && _thumbnail is not null)
    {
        <img src="@_thumbnail.GetUrl()" alt="@_feline.Name"/>
    }

    @if (ShowJournal.GetValueOrDefault(true) && _comments.Count > 0)
    {
        <table class="journal">
            <caption>Journal</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Entry</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var comment in _comments)
            {
                <tr>
                    <td>@comment.TimeStamp.FormatLocalTime(TimeProvider)</td>
                    <td>
                        <RadzenHtml>@(new MarkupString(comment.Text))</RadzenHtml>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if (ShowWeights.GetValueOrDefault(true) && _weights.Count > 0)
    {
        <table class="weights">
            <caption>Weights</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var weight in _weights)
            {
                <tr>
                    <td>@weight.DateTime.FormatLocalTime(TimeProvider)</td>
                    <td>@weight.Value.Format(weight.Units, _units)</td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    [Parameter] public int FelineId { get; set; }
    private Feline? _feline;
    private string? _fosterer;
    private Thumbnail? _thumbnail;
    private List<Comment> _comments = [];
    private List<Weight> _weights = [];
    private DateTimeOffset _localNow;
    private WeightUnit _units = WeightUnit.lbs;
    private string? _source;

    /// <summary>
    ///     When truthy, print the image.
    /// </summary>
    [SupplyParameterFromQuery(Name = "image")]
    private bool? ShowImage { get; set; }

    /// <summary>
    ///     When truthy, print the journal.
    /// </summary>
    [SupplyParameterFromQuery(Name = "journal")]
    private bool? ShowJournal { get; set; }

    /// <summary>
    ///     When truthy, print the weights.
    /// </summary>
    [SupplyParameterFromQuery(Name = "weights")]
    private bool? ShowWeights { get; set; }

    /// <summary>
    ///     Sets units for weight display.
    /// </summary>
    [SupplyParameterFromQuery(Name = "units")]
    private string? Units { get; set; }

    /// <summary>
    ///     When truthy, print the vitals.
    /// </summary>
    [SupplyParameterFromQuery(Name = "vitals")]
    private bool? ShowVitals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _localNow = TimeProvider.GetLocalNow();
        if (string.IsNullOrWhiteSpace(Units) || !Enum.TryParse(Units, out _units))
        {
            _units = WeightUnit.lbs;
        }

        _feline = await DbContext
            .Felines
            .IgnoreQueryFilters()
            .AsNoTracking()
            .FirstOrDefaultAsync(f => f.Id == FelineId);
        if (_feline is null)
        {
            NavigationManager.NavigateTo("/not-found");
            return;
        }

        _source = await DbContext
            .Sources
            .AsNoTracking()
            .Where(s => s.Id == _feline.SourceId)
            .Select(s => s.Name)
            .FirstOrDefaultAsync();

        _fosterer = await DbContext
            .Fosterers
            .AsNoTracking()
            .Where(f => f.Id == _feline.FostererId)
            .Select(f => f.Name)
            .FirstOrDefaultAsync();

        _thumbnail = await DbContext
            .Thumbnails
            .AsNoTracking()
            .Where(t => t.FelineId == FelineId)
            .FirstOrDefaultAsync();

        _weights = await DbContext
            .Weights
            .AsNoTracking()
            .Where(w => w.FelineId == FelineId)
            .OrderByDescending(w => w.DateTime)
            .ToListAsync();

        _comments = await DbContext
            .Comments
            .AsNoTracking()
            .Where(c => c.FelineId == FelineId)
            .OrderByDescending(c => c.TimeStamp)
            .ToListAsync();
    }

}