@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"/>
    <RadzenTheme @rendermode="PageRenderMode" Theme="@_theme" Wcag="Wcag"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["FosterRoster.styles.css"]"/>
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]"/>
    <HeadOutlet @rendermode="PageRenderMode"/>
</head>

<body>
<Routes @rendermode="PageRenderMode"/>
<script src="@("_framework/blazor.web.js")"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(RadzenStack).Assembly.GetName().Version)"></script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string _theme = "material";

    private const bool Wcag = true;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext?.AcceptsInteractiveRouting() == true ? InteractiveServer : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (HttpContext is null)
        {
            return;
        }
        var theme = HttpContext.Request.Cookies["RadzenTheme"];
        if (!string.IsNullOrWhiteSpace(theme))
        {
            _theme = theme;
        }
    }
}
